# everything
/*

# folders
!/forestry_techne
!/gradle/wrapper
!/src
!/api
!/test

# files
!/.gitignore
!/.gitmodules
!/CLA.txt
!/CONTRIBUTING.md
!/LICENSE.txt
!/license-header.txt
!/README.md
!/gradle.properties
!/build.gradle
!/build.xml
!/gradlew
!/gradlew.bat
.DS_Store
