[submodule "lang"]
	path = lang
	url = https://github.com/GTNewHorizons/Forestry-Localization.git
[submodule "api/redstoneflux"]
	path = api/redstoneflux
	url = https://github.com/Texasjake95/RedstoneFlux-API.git
[submodule "api/forestry"]
	path = api/forestry
	url = https://github.com/ForestryMC/ForestryAPI.git
