# everything
/*

# folders
!/forestry_techne
!/gradle
!/src

# files
!/.gitignore
!/.gitmodules
!/CLA.txt
!/CONTRIBUTING.md
!/LICENSE.txt
!/README.md
!/application.properties
!/build.gradle
!/build.xml
!/gradlew
!/gradlew.bat