Please help the Forestry project by <a href="https://github.com/ForestryMC/ForestryMC/issues">reporting issues here.</a><br/>
{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li>
                <a href="https://github.com/ForestryMC/ForestryMC/commit/{{hashFull}}">{{{messageTitle}}}</a> - {{{authorName}}}
                <ul>
                    {{#messageBodyItems}}
                        <li>{{.}}</li>
                    {{/messageBodyItems}}
                </ul>
            </li>
        {{/commits}}
    </ul>
{{/tags}}
