Please help the Forestry project by <a href="https://github.com/ForestryMC/ForestryMC/issues">reporting issues here.</a><br/>
{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li><a href="https://github.com/ForestryMC/ForestryMC/commit/{{hashFull}}">{{message}}</a> - {{authorName}}</li>
        {{/commits}}
    </ul>
{{/tags}}
